<div class="col bg-gray-800 text-white text-center" (click)="openDialog()">
    <div class="card mt-4 mb-4">
        <div class="image-css">
            <img [src]="card.url" [alt]="card.name" class="card-img-top">
            <i class="fa fa-heart" aria-hidden="true"></i>
        </div>
        <div class="card-body">
            <h2>{{card.name}}</h2>
            <button type="button"
                class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"><i
                    class="bi bi-cart-fill" (click)="openDialog()"></i> Comprar</button>
        </div>
    </div>
</div>