.card{
    border-radius: 10px; 
    transition: .5s ease-in-out;
    &:hover{
      transform: scale(1.02);
      transition: .5s ease-in-out;
    }
    cursor: pointer;
}

.card-body{
    text-align: center;
    a{
      margin: 0px auto;
      text-decoration: none;      
    }
    padding-bottom: 5%;
  }



/* body{
    margin: 0px;
    padding: 0px;
  .card{
    border-radius: 10px; 
    transition: .5s ease-in-out;
    &:hover{
      transform: scale(1.02);
      transition: .5s ease-in-out;
    }
  .image-css{
    position:relative;
    img{
    width:100%;
    max-height: 400px;
    border-radius: 10px 10px 0px 0px;    
       }
    i{
      position: absolute;
      top:25px;
      right:25px;
      font-size:28px;
      color:#989898;
      transition: .5s ease-in-out;
      &:hover{
        cursor: pointer;
        color: rgba(255,0,0,0.8);
        transition: .5s ease-in-out;
    }
    }
    }
    .card-body{
      text-align: center;
      a{
        margin: 0px auto;
        text-decoration: none;      
      }
    }
   }
  } */