<div class="container">
    <div class="title-bar">
        <div (click)="onNoClick()">&times;</div>
    </div>
    <div class="content">
        <section class="hero max-w-screen-lg mx-auto pb-2">
            <img class="mx-auto" src="./../../assets/logo.png" alt="screenshot" width="48px">
            <h1 class="text-logo">ASTRA GAMES</h1>
        </section>
        <div class="form"><input class="textfield" type="text" placeholder="Account Name" /><input class="textfield" type="password" placeholder="Password" />
            <div class="button-group"><button class="btn login"><i class="bi bi-box-arrow-in-left"></i> Login</button><button class="btn" (click)="onNoClick()"><i class="bi bi-x-circle-fill"></i> Cancel</button></div><a class="forgot-password" href="#">Forgotten your
                password?</a>
            <hr class="separator" /><button class="btn" (click)="goToRegister()"><i class="bi bi-person-plus-fill"></i> Crear Cuenta</button>
        </div>
    </div>
</div>