.container {
  padding-bottom: 1%;
}

.card-news {
  border-radius: 1% !important;
}

.sub-title-news {
  font-weight: bolder !important;
  font-size: large !important;
  cursor: pointer !important;
}
