<div class="container text-center">
    <div class="main">
        <div class="col1" [routerLink]="['/games']">
            <img [src]="gameDetails.url" class="model" [alt]="gameDetails.name" />
            <button type="button" class="w-full focus:outline-none text-white bg-red-700 hover:
                bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 
                dark:hover:bg-red-700 dark:focus:ring-red-900"><i class="bi bi-backspace-fill"></i> Regresar a la
                Página de Juegos</button>
        </div>
        <div class="col2">
            <div class="text-white overflow-hidden shadow rounded-lg border">
                <div class="px-4 py-5 sm:px-6">
                    <h3 class="text-lg leading-6 font-medium ">
                        <i class="bi bi-controller"></i> {{gameDetails.name}}
                    </h3>
                    <hr>
                    <p class="mt-1 max-w-2xl text-sm pt-4">
                        {{gameDetails.desc}}
                    </p>
                </div>
                <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                    <dl class="sm:divide-y sm:divide-gray-200">
                        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium">
                                <i class="bi bi-code-square"></i> Desarrollador:
                            </dt>
                            <dd class="mt-1 text-sm  sm:mt-0 sm:col-span-2">
                                {{gameDetails.publisher}}
                            </dd>
                        </div>
                        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium">
                                <i class="bi bi-input-cursor"></i> Año de Desarrollo:
                            </dt>
                            <dd class="mt-1 text-sm  sm:mt-0 sm:col-span-2">
                                {{gameDetails.year}}
                            </dd>
                        </div>
                        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium">
                                <i class="bi bi-highlighter"></i> Plataforma:
                            </dt>
                            <dd class="mt-1 text-sm  sm:mt-0 sm:col-span-2">
                                {{gameDetails.so}}
                            </dd>
                        </div>
                        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium">
                                <i class="bi bi-body-text"></i> Género:
                            </dt>
                            <dd class="mt-1 text-sm  sm:mt-0 sm:col-span-2">
                                {{gameDetails.genre}}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>