#icon-pro {
  font-size: 32px !important;
  cursor: pointer !important;
  color: azure !important;
}

#title-pro {
  font-size: larger !important;
  cursor: pointer !important;
  color: white !important;
}

.card-pro {
  height: 255px !important;
  cursor: pointer;
}
