<div class="product">
    <div class="product-image text-center">
        <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
    </div>
    <div class="product-details">
        <div class="product-title"><i class="bi bi-stickies-fill"></i> Dingo Dog Bones</div>
        <p class="product-description"><i class="bi bi-card-heading"></i> The best dog bones of all time. Holy crap. Your dog will be begging for
            these things! I got curious once and ate one myself. I'm a fan.</p>
    </div>
    <div class="product-price">12.99</div>
    <div class="product-quantity">
        <input type="number" value="2" min="1">
    </div>
    <div class="product-removal">
        <button class="remove-product">
            <i class="bi bi-trash3-fill"></i> Eliminar Producto
        </button>
    </div>
    <div class="product-line-price">25.98</div>
</div>