* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    text-decoration: underline;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.3em;
    }
    .tags small {
        font-size: 0.5em;
    }
}

.image {
    width: 64px;
    border-radius: 100%;
    font-style: italic;
    display: inline-block;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 2px 10px whitesmoke;
    transition: all 0.5s ease-in-out;
    text-align: center;
    letter-spacing: 0.1em;
    -webkit-animation: flicker 0.5s ease-in-out infinite alternate;
    animation: flicker 0.5s ease-in-out infinite alternate;
}

.astra-games {
    font-style: italic;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 2px 10px whitesmoke;
    transition: all 0.5s ease-in-out;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.2em;
    -webkit-animation: flicker 0.5s ease-in-out infinite alternate;
    animation: flicker 0.5s ease-in-out infinite alternate;
}

@keyframes flicker {
    0% {
        opacity: 0.5;
        text-shadow: 2px 2px 10px #2962ff;
    }
    100% {
        opacity: 1;
        text-shadow: 2px 2px 20px #2962ff;
    }
}

@-webkit-keyframes flicker {
    0% {
        opacity: 0.5;
        text-shadow: 2px 2px 10px #2962ff;
    }
    100% {
        opacity: 1;
        text-shadow: 2px 2px 20px #2962ff;
    }
}

.app-splash-content {
    opacity: 1;
}
