.nav-item:hover {
    color: #3f77d1 !important;
}

.nav-item {
    font-weight: 600 !important;
    text-decoration: none !important;
    color: lightgray !important;
    margin-right: 15px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    cursor: pointer !important;
}
