.gameplay {
    box-shadow: -1px -12px 33px -4px rgba(163, 148, 148, 0.75);
    -webkit-box-shadow: -1px -12px 33px -4px rgba(163, 148, 148, 0.75);
    -moz-box-shadow: -1px -12px 33px -4px rgba(163, 148, 148, 0.75);
    cursor: pointer;
}
