<div class="pt-24 bg-black card-hero-home">
  <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left text-hero">
      <p class="tracking-loose w-full text-white text-lg"><i class="bi bi-stickies-fill"></i> Tu destino para revivir la
        nostalgia de los juegos
        !!!</p>
      <h1 class="my-4 text-md leading-tight text-white">
        <i class="bi bi-info-circle-fill"></i> Sumérgete en una experiencia única que te transportará de vuelta a la
        época dorada de los videojuegos.
      </h1>
      <p class="leading-normal text-md mb-8 text-gold mt-6">
        <i class="bi bi-controller ml-2"></i> Con una amplia selección de títulos clásicos, desde los icónicos arcade
        hasta
        las legendarias consolas de los
        años 80 y 90, Astra Games ofrece una plataforma única donde puedes jugar tus
        juegos favoritos de antaño directamente desde tu navegador. ¡Prepárate para disfrutar de horas de diversión
        retro con RetroArcade!
      </p>
      <button
        class="mx-auto lg:mx-0 text-hero hover:underline bg-white mt-6 btn-hero text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
        Más Información
      </button>
    </div>
    <div class="w-full md:w-3/5 py-6 text-center element">
      <img class="w-full md:w-4/5 z-50 img-hero" src="./../../../../assets/home/consoleHero.png" />
    </div>
  </div>
</div>