.text-features {
  cursor: pointer;
  font-size: larger;
}

.sub-title-features {
  color: whitesmoke !important;
  font-weight: bolder !important;
  cursor: pointer !important;
}

.icon-pro-question {
  font-size: 28px !important;
}

.title-pros {
  cursor: pointer !important;
  font-size: medium !important;
  font-weight: bolder !important;
}
