.card figcaption,
.cards .card:after,
.news .card figcaption,
.news .card:after,
.news .article figcaption {
    position: absolute;
}

.card,
.news .card,
.news .article {
    position: relative;
}

.card {
    margin: 20px;
    width: 180px !important;
    height: 270px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    transform-origin: center top;
    transform-style: preserve-3d;
    transform: translateZ(0);
    transition: 0.3s;
    cursor: pointer;
}

.card img {
    width: 100%;
    min-height: 100%;
}

.card figcaption,
.news .card figcaption {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    background: none;
    color: #fff;
    transform: translateY(100%);
    transition: 0.3s;
}

.card:after,
.news .card:after {
    content: '';
    z-index: 10;
    width: 200%;
    height: 100%;
    top: -90%;
    left: -20px;
    opacity: 0.1;
    transform: rotate(45deg);
    background: linear-gradient(to top, transparent, #fff 15%, rgba(255, 255, 255, 0.5));
    transition: 0.3s;
}

.card:hover,
.card:hover,
.card:focus,
.card:focus,
.card:active,
.card:active {
    box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.6) !important;
    transform: translateY(-3px) scale(1.05) rotateX(15deg);
}

.card:hover figcaption,
.news .card:hover figcaption,
.cards .card:focus figcaption,
.news .card:focus figcaption,
.cards .card:active figcaption,
.news .card:active figcaption {
    transform: none;
}

.card:hover,
.news .card:hover,
.cards .card:focus,
.news .card:focus,
.cards .card:active,
.news .card:active {
    box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.6) !important;
    transform: translateY(-3px) scale(1.05) rotateX(15deg);
}