<div class="container text-center">
    <div class="main">
        <div class="col1"><img
                src="https://images.pexels.com/photos/1183266/pexels-photo-1183266.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                class="model" alt="can't load image" /></div>
        <div class="col2">
            <h2 class="name">John Wick</h2>
            <h4 class="name"> Web Developer</h4><br>
            <p class="info">I have prior knowledge about front-end development which includes (html, css, javascript,
                react, tailwind css, material ui and more) for collaboration or project development get in touch with
                me.</p>
        </div>
    </div>
</div>